{% extends "news/base.html" %}

{% block titleBlock %}
    首页-新经资讯
{% endblock %}

{% block scriptBlock %}
    <script type="text/javascript" src="../../static/news/js/index.js"></script>
{% endblock %}

{% block categoryBlock %}
    <ul class="menu fl">
        {% for category in data.category_list %}
            <li class="{% if loop.index == 1 %}active{% else %}{% endif %}" data-cid="{{ loop.index }}"><a
                    href="javascript:;">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block contentBlock %}
    <ul class="list_con fl">

    </ul>
{% endblock %}



